name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/setup-rust@stable
      - name: Build
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose
